@mixin media{
  @media screen and (max-width: 900px) {
    @content
  }
}

body{
  font-family: 'Montserrat','Zen Maru Gothic', sans-serif;
}

// ヘッダー
.header{
  padding: 0 40px;
  display: flex;
  .header_left{
    max-width: 154px;
    margin-top: 23px;
    a{
      display: inline-block;
      img{
        width: 100%;
      }
    }
  }
  .header_right{
    width: 100%;
    position: relative;
    margin-top: 30px;
    .hunburger_menu{
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0;
      z-index: 3;
      cursor: pointer;
      span{
        position: absolute;
        display: inline-block;
        background: black;
        width: 100%;
        height: 2px;
      }
      span:nth-child(1){
        top: 2px;
        transition: .5s;
      }
      span:nth-child(2){
        top: 11px;
        transition: .5s;
      }
      span:nth-child(3){
        top: 21px;
        transition: .5s;
      }
    }
    .open span:nth-child(1){
      transform: translateY(8px) rotate(405deg);
      transition: .5s;
      background: white;
    }
    .open span:nth-child(2){
      opacity: 0;
      transition: .5s;
      background: white;
    }
    .open span:nth-child(3){
      transform: translateY(-11px) rotate(-405deg);
      transition: .5s;
      background: white;
    }
  }
  .nav_menu{
    left: 0;
    width: 300px;
    background: #121212;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 4;
    padding: 60px 25px;
    color: white;
    font-size: 0.875rem;
    opacity: 0;
    transform: translateX(-500px);
    transition: .5s;
    .nav_menu_top{
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
      a{
        position: relative;
        margin: 0;
        padding: 20px 0;
        border-bottom: solid 1px #fff;
        transition: .5s;
        &:hover{
          transition: .5s;
          transform: scale(1.1);
        }
      }
    }
    .nav_menu_bottom{
      display: flex;
      flex-direction: column;
      a{
        padding: 10px 0;
      }
    }
  }
}

.open_header .nav_menu{
  opacity: 1;
  transform: translateX(0px);
  transition: .5s;
}

.mask_menu{
  position: absolute;
  background: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.open_mask{
  opacity: 0.8;
}

// ビデオ
.video_main{
  margin-top: 20px;
  margin-bottom: 100px;
  .video{
    width: 100%;
  }
}

// PICK UP
.pick_up{
  margin-bottom: 100px;
  h1{
    text-align: center;
    font-size: 2.254rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
} 
.slider_img_content{
  padding: 0;
  position: relative;
}
.slider_img_content .prev{
  color: #ffffff;
  font-size: 25px;
  position: absolute;
  z-index: 2;
  top: 108px;
  left: 27px;
  opacity: 0.8;
  @include media{
    top: 72px;
    left: 64px;
  }
}
.slider_img_content .next{
  color: white;
  font-size: 25px;
  position: absolute;
  z-index: 2;
  opacity: 0.8;
  left: 1388px;
  bottom: 94px;
  @include media{
    bottom: 57px;
    right: 44px;
  }
}
.slider_img_content div{
  padding: 0 30px 0 10px;
}
.slider_img_content img{
  width: 100%;
}
.slider_img_content .slick-next{
  right: 17px;
  z-index: 100;
}
.slider_img_content .slick-prev{
  left: 23px;
  z-index: 100;
}

// FETAURE
.feature{
  margin-bottom: 100px;
  h1{
    text-align: center;
    font-size: 2.254rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .feature_content{
    width: 1208px;
    height: 1535px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    a{
      display: inline-block;
      width: 32%;
      height: 491px;
      .feature_content_part{
        width: 100%;
        height: 100%;
        border: 1px solid lightgray;
        box-shadow: 4px 5px 10px lightgrey;
        .feature_content_part_top{
          height: 257px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .feature_content_part_bottom{
          padding: 25px;
          p{
            margin-bottom: 7px;
          }
          p:nth-child(2){
            margin-bottom: 15px;
          }
          p:nth-child(3){
            margin-bottom: 15px;
          }
          p:nth-child(4){
            text-align: right;
            margin: 0;
          }
        }

      }
    }
  }
} 