@mixin media{
  @media screen and (max-width: 900px) {
    @content
  }
}

body{
  font-family: 'Montserrat','Zen Maru Gothic', sans-serif;
}

// ヘッダー
.header{
  display: flex;
  position: fixed;
  z-index: 5;
  padding: 0 40px;
  width: 100%;
  background: white;
  height: 80px;
  @include media{
    padding: 0 16px;
  }
  .header_left{
    max-width: 154px;
    margin-top: 23px;
    @include media{
      width: 74%;
    }
    a{
      display: inline-block;
      img{
        width: 100%;
      }
    }
  }
  .header_right{
    width: 100%;
    position: relative;
    margin-top: 30px;
    .hunburger_menu{
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0;
      z-index: 3;
      cursor: pointer;
      span{
        position: absolute;
        display: inline-block;
        background: black;
        width: 100%;
        height: 2px;
      }
      span:nth-child(1){
        top: 2px;
        transition: .5s;
      }
      span:nth-child(2){
        top: 11px;
        transition: .5s;
      }
      span:nth-child(3){
        top: 21px;
        transition: .5s;
      }
    }
    .open span:nth-child(1){
      transform: translateY(8px) rotate(405deg);
      transition: .5s;
      background: white;
    }
    .open span:nth-child(2){
      opacity: 0;
      transition: .5s;
      background: white;
    }
    .open span:nth-child(3){
      transform: translateY(-11px) rotate(-405deg);
      transition: .5s;
      background: white;
    }
  }
  .nav_menu{
    left: 0;
    width: 300px;
    background: #121212;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 4;
    padding: 60px 25px;
    color: white;
    font-size: 0.875rem;
    opacity: 0;
    transform: translateX(-500px);
    transition: .5s;
    .nav_menu_top{
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
      a{
        position: relative;
        margin: 0;
        padding: 20px 0;
        border-bottom: solid 1px #fff;
        transition: .5s;
        &:hover{
          transition: .5s;
          transform: scale(1.1);
        }
      }
    }
    .nav_menu_bottom{
      display: flex;
      flex-direction: column;
      a{
        padding: 10px 0;
      }
    }
  }
  
  .opan_nav_menu{
    opacity: 1;
    transform: translateX(0px);
    transition: .5s;
    z-index: 6;
  }
  
  .mask_menu{
    position: fixed;
    background: black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
  }
  
  .open_mask{
    opacity: 0.8;
  }
}

#bg-video {
  width: 100%;
  margin-bottom: 100px;
  @include media{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: 70px;
  }
}

// PICK UP
.pick_up{
  margin-bottom: 100px;
  overflow: hidden;
  h1{
    text-align: center;
    font-size: 2.254rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
} 
.slider_img_content{
  padding: 0;
  position: relative;
  @include media{
    height: inherit;
  }
}
.slider_img_content .prev{
  color: #ffffff;
  font-size: 25px;
  position: absolute;
  z-index: 2;
  top: 108px;
  left: 27px;
  opacity: 0.8;
  @include media{
    top: 60px;
    left: 11px;
  }
}
.slider_img_content .next{
  color: white;
  font-size: 25px;
  position: absolute;
  z-index: 2;
  opacity: 0.8;
  left: 1388px;
  bottom: 94px;
  @include media{
    left: 90%;
    bottom: 65px;
    right: 0;
  }
}

.slider{
  @include media{
    height: 156px;
  }
}

.slider_img_content .slider_img_content_part{
  padding: 0 30px 0 10px;
  @include media{
    padding: 0 20px;
  }
}
.slider_img_content img{
  width: 100%;
}
.slider_img_content .slick-next{
  right: 17px;
  z-index: 100;
}
.slider_img_content .slick-prev{
  left: 23px;
  z-index: 100;
}

// FETAURE
.feature{
  margin-bottom: 100px;
  width: 100%;
  h1{
    text-align: center;
    font-size: 2.254rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .feature_content{
    width: 1208px;
    height: 1535px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    @include media{
      width: 100%;
      height: 100%;
      flex-direction: column;
      padding: 0 16px;
    }
    a{
      display: inline-block;
      width: 32%;
      height: 491px;
      @include media{
        width: 100%;
        margin-bottom: 26px;
      }
      .feature_content_part{
        width: 100%;
        height: 100%;
        border: 1px solid lightgray;
        box-shadow: 4px 5px 10px lightgrey;
        .feature_content_part_top{
          height: 257px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .feature_content_part_bottom{
          padding: 25px;
          p{
            margin-bottom: 7px;
          }
          p:nth-child(2){
            margin-bottom: 15px;
          }
          p:nth-child(3){
            margin-bottom: 15px;
          }
          p:nth-child(4){
            text-align: right;
            margin: 0;
          }
        }

      }
    }
  }
} 

// FOOTER
footer{
  background: #000000e3;
  color: white;
  .footer{
    width: 1240px;
    margin: 0 auto;
    padding: 30px 23px 80px 23px;
    @include media{
      width: 100%;
      padding-top: 60px;
    }
    h1{
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      @include media{
        font-size: 1rem;
      }
    }
    .contact_content{
      display: flex;
      padding-top: 30px;
      @include media{
        flex-direction: column;
        padding-top: 50px;
      }
      .contact_left{
        width: 59%;
        border-right: 0.5px solid #ffffff7a;
        @include media{
          width: 100%;
          border: none;
        }
        .contact_left_top, .contact_left_midle{
          margin-bottom: 22px;
        }
        .contact_left_midle p{
          padding: 10px 40px;
          width: 70%;
          border: 1px solid #ffffff2b;
          font-weight: bold;
          border-radius: 5px;
          margin: 35px auto;
          @include media{
            width: 100%;
            padding: 16px 29px;
            margin: 30px 0;
          }
        }
        .contact_left_bottom h1{
          text-align: left;
          font-size: 1.5rem;
          letter-spacing: 4px;
          margin-top: 13px;
        }
      }
      .contact_right{
        width: 60%;
        padding: 10px 0px 0 76px;
        @include media{
          width: 100%;
          padding: 0;
          margin-top: 50px;
        }
        form{
          display: flex;
          flex-direction: column;
          color: white;
          label{
            margin-bottom: 9px;
            font-size: 0.875rem;
          }
          .text{
            border-radius: 3px;
            margin-bottom: 20px;
            width: 100%;
            background: white;
            height: 40px;
            border: 1px solid darkgray;
          }
          .submit{
            border: 1px solid #ffffff85;
            width: 200px;
            text-align: center;
            padding: 10px 0;
            position: relative;
            overflow: hidden;
            @include media{
              margin: 0 auto;
            }
            &::before{
              content: 'SEND';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: white;
              color: #ffffff85;
              opacity: 0;
              color: #000000e3;
              pointer-events: none;
              padding-top: 10px;
              transition: .7s;
              transform: translateX(-300px);
            }
            &:hover::before{
              opacity: 1;
              transform: translateX(0px);
              transition: .7s;
            }
          }
        }
      }
    }
  }
  strong{
    font-size: 1.125rem;
    margin-bottom: 6px;
    display: block;
    @include media{
      font-size: 1rem;
    }
  }
  p{
    font-size: 0.875rem;
    @include media{
      font-size: 0.8rem;
    }
  }
  .copyright{
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 20px;
  }
}

#scroll_to_top_btn{
  opacity: 0;
  transition: 1s;
  .fa-solid{
    position: fixed;
    right: 7px;
    bottom: 10px;
    font-size: 51px;
    color: #949494;
    @include media{
      font-size: 43px;
      right: 19px;
    }
    &:hover{
      opacity: 0.8;
    }
  }
}